html,
body {
  height: 100%;
  background-color: #f8f9fa !important;
}

.hr5 {
  border: 0;
  border-top: medium double #212529;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #212529;
  text-align: center;
}

.hr5::after {
  content: "★";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2.1em;
  padding: 0 0.3em;
  background: white;
}

.card {
  background-color: #575757 !important;
  min-height: 10rem;
}

.card i {
  font-size: 5rem;
  color: #bababa;
}

footer {
  background-color: #f8f9fa1e !important;
}

i span {
  margin-left: 4px;
}

.btn {
  font-size: 14px;
}
